body{
	height: 100%;
	margin: 0;
	background-image: url("images/coronabg.jpg");

}

div.header{
	background-image: url("images/corona.png");	
	top: 0px;
	left: 0px;
	position: fixed;
	width: 100%;

}

div.header-content{
	padding-bottom: 2%;
}

div.header-nav{
	top: 54px;
	left: 0px;
	width: 100%;
	position: fixed;
}
ul.top{
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0px;
	margin-left: 45%;
	overflow: hidden;
}
li.top{
	float: left;
}
ul a{

	display: block;
	padding: 5px;
	margin-top: 15px;
	position: relative;
	background-color: darkcyan;
	text-decoration: none;
	color: white;
	font-size: 16px;
	text-align: center;
}
ul a:hover{
	background-color: slategrey;
}
img.slides{
	border-radius: 15px;
	padding-bottom: 20px;
}
div.img{
	max-width: 700px;
	margin-top: 14%;

}

/*============footer============*/

div.footer {
	background:  #497678;
	color: #c1e2e3;
	height:58px;
	width: 100%;
	bottom:8px;
	left: 0px;
	position: fixed;
	padding-top: 3px;
	font-size: 13px;

}
ul.footer{
	list-style-type: none;
	margin-left: 5px;
	margin-top: 0px;
	padding-top: 0px;
}
	
div.footer-content{
	margin-left: 5px;
	padding-bottom: 0px;

}
div.footer-names{
	margin-bottom: 20px;
}

 .footer-bottom{
	background-color: #315a5c;
	color: #76a7a8;
	height: 20px;
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	padding-top: 0px;
}

