html{
	scroll-behavior: smooth;
}
body{
	height: 100%;
	margin: 0;
	background-image: url("images/coronabg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div.header{
	background-image: url("images/corona.png");	
	top: 0px;
	left: 0px;
	position: fixed;
	width: 100%;

}

div.header-content{
	padding-bottom: 2%;
}

div.header-nav{
	top: 54px;
	left: 0px;
	width: 100%;
	position: fixed;
}
ul.top{
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0px;
	margin-left: 45%;
	overflow: hidden;
}
li.top{
	float: left;
}
ul a{

	display: block;
	padding: 5px;
	margin-top: 15px;
	position: relative;
	background-color: darkcyan;
	text-decoration: none;
	color: white;
	font-size: 16px;
	text-align: center;
}
ul a:hover{
	background-color: slategrey;
}
img.slides{
	border-radius: 15px;
	padding-bottom: 20px;
}
div.img{
	max-width: 700px;
	margin-top: 14%;
}
/*===data===*/
div.data{
	background-color:rgba(47, 79, 79, 0.89);
    /*background-image: linear-gradient(to bottom right,rgb(32, 151, 230),rgba(241, 241, 239, 0.815));*/
	margin-bottom: 100px;
}
p.data{
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:white;
	font-size: 30px;
	background-color:rgb(79, 126, 114);
	padding-bottom: 10px;
	padding-top: 5px;
}
ul.data{
	list-style-type: none;
	overflow: hidden;
}
ul.par{
	list-style-type: none;
	overflow: hidden;
	margin-left: 238px;
	margin-top: 50px;
}
ul.data li{
	color: white;
	background-color: rgb(97, 126, 163);
	border-radius: 15px;
	margin-right: 21px;
	margin-bottom: 15px;
	padding: 20px;
	padding-top: 12px;
	float: left;
	text-align: center;
	width: 180px;
}
ul.par li li{
	color: white;
	background-color:rgb(63, 151, 101);
	border-radius: 15px;
	margin-right: 21px;
	margin-bottom: 15px;
	padding: 20px;
	padding-top: 12px;
	float: left;
	text-align: center;
	width: 180px;
}
ul.data li div, ul.par li li div{
	font-size: 50px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul.data li span{
	font-size: 22px;
}
ul.par li li span{
	font-size: 22px;
}

/*============footer============*/

div.footer {
	background:  #497678;
	color: #c1e2e3;
	height:58px;
	width: 100%;
	bottom:8px;
	left: 0px;
	position: fixed;
	padding-top: 3px;
	font-size: 13px;

}
ul.footer{
	list-style-type: none;
	margin-left: 5px;
	margin-top: 0px;
	padding-top: 0px;
}
	
div.footer-content{
	margin-left: 5px;
	padding-bottom: 0px;

}
div.footer-names{
	margin-bottom: 20px;
}

 .footer-bottom{
	background-color: #315a5c;
	color: #76a7a8;
	height: 20px;
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	padding-top: 0px;
}

